@import url('https://fonts.googleapis.com/css?family=Gugi');
*{
  margin: 0;
  padding: 0;
}

.navContainer{
  background: rgb(45, 142, 45);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  -webkit-animation-name: changeColor;
  -webkit-animation-duration: 3.2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-name: changeColor;
  animation-duration: 3.2s;
  animation-timing-function: ease-in-out; 
} 

.navLogo{
  margin-left: 20px;
  -webkit-animation-name: roll;
  -webkit-animation-duration: 3.2s;
  animation-name: roll;
  animation-duration: 3.2s;
  animation-timing-function: ease-in-out;
}

#logoImg{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.navItems{
  align-self: center;
  margin-left: auto;
  margin-right: 10vw;
}

.navItems a{
  text-decoration: none;
  margin: 10px;
  color: white;
  padding: 10px 30px;
  font-weight: bold;
  font-family: 'Gugi', cursive;
}

.navItems a:hover{
  background: rgba(47, 140, 134, 0.666);
  border-radius: 15px;
}

.bars{
  width: 25px;
  height: 5px;
  background: #333;
  margin: 3px 0px;
}

.toggle{
  display:none;
}



@media only screen and (max-width: 695px){
  .navItems a{
    display: none;
  }
  .toggle{
    display: block;
    margin-left: auto;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 695px){
  .navItems.responsive{
    width:80vw;
    position:absolute;
    background:green;
    top:80px;
    left:-20px;
    right:0;
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1.5s;
    animation-name: drop;
    animation-duration: 1.5s;
  }
  .navItems.responsive a{
    display: block;
  }
}

@keyframes roll{
  20%{margin-left: 90vw; transform: rotate(270deg);}
  60%{margin-left:0px; transform: rotate(-35deg);}
}

@keyframes changeColor {
  0%{background: rgb(14, 130, 14);}
  35%{background: dodgerblue;}
  70%{background: firebrick;}
  90%{background: dodgerblue;}
  100%{background: rgb(14, 130, 14);}
}

@keyframes drop {
  0%{width:0;}
  100%{width: 80vw;}